/ {
	chosen {
		zephyr,canbus = &mcp2515;
	};

	aliases {
		gnss7-sel = &gnss7_sel;
	};

	gpio_logic {
		compatible = "gpio-leds";
		gnss7_sel: gnss7_sel {
			gpios = <&mikrobus_header_1 0 GPIO_ACTIVE_HIGH>; /* AN */
		};
	};
};

&mikrobus_serial {
	status = "okay";
	current-speed = <38400>;
};

&i2c2 {
    /* Needed for I2C writes used by libostentus */
    zephyr,concat-buf-size = <48>;

    ostentus@12 {
        status = "okay";
        compatible = "golioth,ostentus";
        reg = <0x12>;
    };
};

&spi3 {
	cs-gpios = <&mikrobus_header_2 2 GPIO_ACTIVE_LOW>; /* CS */

	mcp2515: mcp2515@0 {
		compatible = "microchip,mcp2515";
		spi-max-frequency = <1000000>;
		int-gpios = <&mikrobus_header_2 7 GPIO_ACTIVE_LOW>; /* INT */
		status = "okay";
		reg = <0x0>;
		osc-freq = <10000000>;
		bitrate = <500000>;
		sample-point = <875>;

		can-transceiver {
			max-bitrate = <1000000>;
		};
	};
};

&pinctrl {
	spi3_default: spi3_default {
		group1 {
			psels = <NRF_PSEL(SPIM_SCK, 0, 19)>,
				<NRF_PSEL(SPIM_MOSI, 0, 21)>,
				<NRF_PSEL(SPIM_MISO, 0, 22)>;
		};
	};

	spi3_sleep: spi3_sleep {
		group1 {
			psels = <NRF_PSEL(SPIM_SCK, 0, 19)>,
				<NRF_PSEL(SPIM_MOSI, 0, 21)>,
				<NRF_PSEL(SPIM_MISO, 0, 22)>;
			low-power-enable;
		};
	};
};
