/ {
	aliases {
		gnss7-sel = &gnss7_sel;
	};

	gpio_logic {
		compatible = "gpio-leds";
		gnss7_sel: gnss7_sel {
			gpios = <&gpio0 14 GPIO_ACTIVE_HIGH>;
			label = "Interface Select for GNSS7 Click";
		};
	};
};

&uart2 {
	status = "okay";
	current-speed = <38400>;
};
